* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
  font-family: "Anonymous Pro", monospace;
  border: none;
}

html {
  font-size: 93.15%; /* 15px */
}

body {
  background: rgb(0, 0, 0);
  
}

.container {
  width: min(90vw, 800px);
  margin: auto;
  
  -webkit-animation: fadeIn 1.0s ease-in-out;
  -moz-animation: fadeIn 1.0s ease-in-out;
  -o-animation: fadeIn 1.0s ease-in-out;
  animation: fadeIn 1.0s ease-in-out;
}



/* HEADER =======*/

header {
  text-align: center;
}

header a {
  color: #fff;
}

header img {
  transition: 1s;
}

header img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}

.interactions {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
}

.interactions button {
  margin-bottom: 35px;
  width: 200px;
  height: 80px;
  border: none;
  border-radius: 2rem;
  color: white;
  background: #facc25;
  padding: 0;

  cursor: pointer;

  opacity: 0.9;

  font-size: 1.3em;
  font-family: "Anonymous Pro", monospace;

  transition: 1s;
}

.interactions button:hover {
  opacity: 1;

  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;

  background: rgb(66, 66, 66);
  color: #facc25;

  transition: 0.7s;
}

.interactions button:focus{
        outline: thin dotted;
        outline: 0px auto -webkit-focus-ring-color;
        outline-offset: 0px;
}

/* FOOTER ============*/
footer {
  margin-top: 100px;
  width: 100%;
  background-color: #facc25;
  -webkit-animation: fadeIn 2.5s ease-in-out;
  -moz-animation: fadeIn 2.5s ease-in-out;
  -o-animation: fadeIn 2.5s ease-in-out;
  animation: fadeIn 2.5s ease-in-out;
}

footer div {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-radius: 1.2em;
}

footer div img {
  width: 150px;
}

footer div li {
  display: inline;
  margin-right: 30px;
}
.icons-footer img {
  width: 30px;
}

.icons-footer img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Modal ===========*/
.modal-overlayMusic, .modal-overlayScrap {
  width: 100%;
  height: 100%;

  background-color: rgba(114, 114, 114, 0.7);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  transition:all 0.7s ease-in-out;
}

.modal-overlayMusic.active, .modal-overlayScrap.active {
  opacity: 1;
  visibility: visible;
    
  transition:all 1s ease-in-out;
}

.modal {
  background: #000000;
  padding: 2.4rem;
  width: 90%;
  max-width: 500px;
  border-radius: 0.3rem;
  color: #facc25;
}

form{
    max-width: 500px;
}


form input{
    border: 0px;
    border-radius: 0.3rem;

    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;

    width: 100%;

    font-size: 20px;
}

form small{

    display: flex;
    padding: 1px 0 15px 0;

    font-size: 1em;
    
}

.input-group {
    margin-top: 20px
}

.input-group.actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group.actions .button,
.input-group.actions button {
    width: 30%;
    font-size: 20px;
    
       
}

form button{
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background: #facc25;
    padding: 0;
    border-radius: 1.2rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    transition: 0.5s;
    
}

form label{
    font-size: 20px;
}



form button:hover{
           
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.5s;
    
}

form button:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    transition: 0.5s;
    visibility: hidden;
}



.button.cancel {
    color: #fff;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 1.2em;
    height: 50px;
    
    display:flex;
    align-items: center;
    justify-content: center;

    opacity: 1;

    transition: 0.5s
}

.button.cancel:hover{
    border: 2px solid #c2c2c2;
    color: #c2c2c1;


    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 05.s;
}